<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!--<targets async="true">
    ~1~ Write the logging to file@1@
    <target name="LogFile"
            xsi:type="BufferingWrapper"
            slidingTimeout="true"
            bufferSize="100"
            flushTimeout="100">
      <target name="log_file_inner"
              xsi:type="File"
              layout="${longdate} | ${pad:padding=-5:inner=${level:uppercase=true}} | ${logger} ${message} ${exception}"
              fileName="logs/logeagleeye.txt"
              keepFileOpen="false"
              encoding="iso-8859-2"
              archiveEvery="Day"
              archiveFileName="${basedir}/logs/log.archive_{#}.txt"
              archiveNumbering="Rolling"
              maxArchiveFiles="7"
              concurrentWrites="true"/>
    </target>

  </targets>
-->

  <targets>
    <target name="logfile" xsi:type="File" fileName="logfile.txt" />
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="logfile" />
  </rules>

</nlog>
